@import "./variables";

h1, h3 {
    color: $dark-gray;
    font-weight: initial;
    margin: 0;
}

h1 {
    font-size: 2.8em;    
    margin: 0 0 9px 0;
    font-weight: 400;
}

input[type=text] {
    margin: 2px;
    border-radius: 3px;
    background-color: $light-gray;
    outline: none;
    border: 1px solid $light-gray;
    padding: 5px 10px;
    color: $dark-gray;

    &:focus {
        background-color: white;
        border-color: $meet-green;        
    }
}

input[type=checkbox] {
    accent-color: $meet-green;
    position: relative;
    top: 2px;
}

button {
    border: none;
    outline: 0;
    border-radius: 3px;
    padding: 8px 10px;
    min-width: 60px;

    &:hover {
        cursor: pointer;
    }
    
    &.btn-primary {
        color: white;
        background: $meet-green;

        &:hover {
            background: darken($meet-green, 5%);
        }
    }
}

.link-separator::after {
    content: "/";
    margin: 0 3px 0 6px;
    opacity: 0.5;
    color: $dark-gray;
}

a {
    color: $dark-gray;
    text-decoration: none;

    &:hover, &:focus {
        color: $meet-green;
        text-decoration: underline;
    }   
}

form {
    label {
        display: inline-block;
        margin-bottom: 16px;
    }
}