@import "./variables";

.meet {
    &-orange {
        color: $meet-orange;
    }    
    &-red {
        color: $meet-red;
    }    
    &-blue {
        color: $meet-blue;
    }    
    &-green {
        color: $meet-green;
    }    
}