@import "./variables";

body {
    margin: 0;
    color: $dark-gray;
    font: {
        family: $font-family;
        size: 16px;
    }
    border: {
        top: $meet-orange;
        bottom: $meet-green;
        right: $meet-red;
        left: $meet-blue;
    }
    border-style: solid;
    border-width: 20px;
    padding: 0 10px;
}

main {
    margin: 0 8px;
    padding: 0 9px 18px 9px;
}

.product-banner {
    display: inline-block;
    width: 100%;
    margin: 27px 17px 36px 0px;

    img {
        float: left;
        margin-right: 18px;
    }

    p {
        margin: 0;
    }

    & > div {
        float: left;
        width: 90%;
    }
}


form {
    label {
        display: inline-block;
        margin-bottom: 16px;
    }
}
