$dark-gray: #6B6B6B;
$light-gray: #F4F5F7;

$meet-orange: #ffba00;
$meet-green: #00ac47;
$meet-red: #e94235;
$meet-blue: #2684fc;

$font-family: -apple-system, BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
